.post {
  margin-bottom: 45px;
  border: 1px solid lightgray;
  background-color: white;
}

.post__image {
  object-fit: contain;
  width: 100%;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__text {
  font-weight: normal;
}

.post__header {
  display: flex;
  background-color: white;
  padding: 20px;
  align-items: center;
}
.post__avatar {
  margin-right: 10px;
}
.post__caption {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
.post__caption__avatar {
  margin-right: 5px;
}
.post__comments {
  background-color: white;
  padding-bottom: 10px;
}
